<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zxx" class="no-js">
<head>
    <!-- Include meta tags -->
    <th:block th:replace="~{fragments/head :: meta}"/>

    <!-- Page title -->
    <title>Cart</title>

    <!-- Include common CSS -->
    <th:block th:replace="~{fragments/head :: common-css}"/>

    <style>
        .error-message {
            color: red;
            font-size: 0.9em;
            margin-top: 5px;
            font-weight: bold;
        }

    </style>
</head>

<body>

<!-- Include header -->
<header th:replace="~{fragments/header :: header}"></header>

<!-- Banner -->
<div th:replace="~{fragments/banner :: banner('Moments Event Platform', 'Feel The Moment')}"></div>


<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <!-- Clear Cart Area -->
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="text-end">
                            <form th:action="@{/carts/{customerId}(customerId=${customerId})}"
                                  th:method="delete"
                                  onsubmit="return confirm('Are you sure you want to clear the cart?');"
                                  style="display:inline;">
                                <button type="submit" class="gray_btn">Clear Cart</button>
                            </form>
                        </th>
                    </tr>
                    <!-- Update Cart Form Area -->
                    <tr>
                        <th scope="col">Moment</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th></th>
                    </tr>
                    </thead>

                    <form th:action="@{'/carts/' +  ${customerId}}" th:object="${cartView}" th:method="put">

                    <tbody>
                    <tr th:if="${cartView.items != null}" th:each="cartItem, stat : ${cartView.items}" th:class="${!cartItem.isAvailable} ? 'not-available' : ''">
                        <td>
                            <div class="media">
                                <div class="d-flex">
                                    <a th:href="@{'/moment/' + ${cartItem.momentId}}" th:if="${cartItem.isAvailable}">
                                    <img th:src="${cartItem.thumbnail}" alt="" style="max-width: 150px;">
                                    </a>
                                    <img th:src="${cartItem.thumbnail}" alt="" style="max-width: 150px; opacity: 0.5;" th:if="${!cartItem.isAvailable}">
                                </div>
                                <div class="media-body">
                                    <p th:text="${cartItem.title}" th:class="${!cartItem.isAvailable} ? 'text-muted' : ''"></p>
                                    <p th:if="${!cartItem.isAvailable}" style="color: red;">This item is currently unavailable.</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h5 th:text="${'€' + cartItem.price}" th:class="${!cartItem.isAvailable} ? 'text-muted' : ''"></h5>
                        </td>
                        <td>
                            <!-- Todo: change total? -->
                            <!-- Todo: add REMOVE ITEM -->
<!--                            <div class="product_count" th:if="${cartItem.isAvailable}">-->
                                <div class="product_count" >
                                <input type="hidden" th:field="*{items[__${stat.index}__].id}" />
                                <input type="hidden" th:field="*{items[__${stat.index}__].cartId}" />
                                <input type="hidden" th:field="*{items[__${stat.index}__].momentId}" />
                                <input type="hidden" th:field="*{items[__${stat.index}__].price}" />
                                <input type="hidden" th:field="*{items[__${stat.index}__].isAvailable}" />
                                <input type="number" th:field="*{items[__${stat.index}__].quantity}" min="1"
                                       step="1"
                                       inputmode="numeric"
                                       pattern="[0-9]+"
                                       required  />
                                <div th:if="${#fields.hasErrors('items[' + stat.index + '].quantity')}"
                                     th:errors="*{items[__${stat.index}__].quantity}"  class="error-message">
                                </div>
                            </div>

<!--                            <h5 th:if="${!cartItem.isAvailable}" th:text="${cartItem.quantity}"  th:class="${!cartItem.isAvailable} ? 'text-muted' : ''"></h5>-->
                        </td>
                        <td>
                            <h5 th:text="${'€' + cartItem.totalPrice}"  th:class="${!cartItem.isAvailable} ? 'text-muted' : ''"></h5>
                        </td>
                        <td>
<!--                            <a class="gray_btn" href="#" th:href="@{'/' + ${customerId} + '/items/' + ${cartItem.id}}">Delete</a>-->
                            <button type="submit"
                                    name="action"
                                    th:value="'delete-' + ${cartItem.id}"
                                    class="gray_btn"
                                    onclick="return confirm('Remove this item?');">
                                Delete
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                            <h5>Subtotal</h5>
                        </td>
                        <td>
                            <h5 th:text="${'€' + cartView.subtotal}"></h5>
                        </td>
                    </tr>
                    <!-- Buttons Area -->
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-end" style="text-align: right;">
                            <div class="checkout_btn_inner d-flex align-items-center">
                                <button type="submit" class="primary-btn" th:attr="disabled=${cartView.items == null || cartView.items.isEmpty()}">Update Cart</button>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                    </form>

                </table>


                <table class="table">
                    <tbody>
                    <tr class="out_button_area">
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                              <div class="checkout_btn_inner d-flex align-items-center" style="display: flex; justify-content: flex-end; ">
                                  <a class="gray_btn" href="#" th:href="@{/index}">Continue Shopping</a>
                                  <a class="primary-btn" href="#"
                                     th:href="@{/carts/{customerId}/checkout(customerId=${cartView.customerId})}"
                                     th:if="${cartView.items != null && !cartView.items.isEmpty()}">Proceed to checkout</a>
                                  <a class="primary-btn disabled" href="#"
                                     th:if="${cartView.items == null || cartView.items.isEmpty()}" style="pointer-events: none; opacity: 0.5;">Proceed to checkout</a>

                              </div>

                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->

<!-- Include footer fragment -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- JS Scripts -->
<div th:replace="~{fragments/common-scripts}"></div>

</body>

</html>