<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zxx" class="no-js">
<head>
	<!-- Include meta tags -->
	<th:block th:replace="~{fragments/head :: meta}" />

	<!-- Page title -->
	<title>Order Confirmation</title>

	<!-- Include common CSS -->
	<th:block th:replace="~{fragments/head :: common-css}" />
</head>

<body>

<!-- Include header -->
<header th:replace="~{fragments/header :: header}"></header>

<!-- Banner -->
<div th:replace="~{fragments/banner :: banner('Moments Event Platform', 'Feel The Moment')}"></div>

	<!--================Order Details Area =================-->
	<section class="order_details section_gap">
		<div class="container">
			<h3 class="title_confirmation">Thank you. Your order has been received.</h3>
			<div class="row order_d_inner">
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Order Info</h4>
						<ul class="list">
							<li>
								<a ><span>Order number</span> : </a>
								<a th:text="${orderView.id}"></a>
							</li>
							<li >
								<a ><span>Date</span> : </a>
								<!-- todo: take date from orderView -->
								<a type="date" id="startDate" th:text="${dateTimeDto.date}"></a>
								<a type="time" id="startTime" th:text="${dateTimeDto.time}"></a>
							</li>
							<li>
								<a ><span>Total</span> : €</a>
																<a th:text="${orderView.total}"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="order_details_table">
				<h2>Order Details</h2>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Moment</th>
								<th scope="col">Quantity</th>
								<th scope="col">Price</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="orderItem : ${orderView.orderItems}">
								<td>
									<p th:text="${orderItem.momentTitle}"></p>
								</td>
								<td>
									<h5 th:text="${'x ' + orderItem.quantity}"> </h5>
								</td>
								<td>
									<p th:text="${'€' + orderItem.totalPrice}">€ 0.00</p>
								</td>

							<tr>
								<td>
									<h4>Total</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p th:text="${'€' + orderView.total}">$0.00</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	<!--================End Order Details Area =================-->

<!-- Include footer fragment -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- JS Scripts -->
<div th:replace="~{fragments/common-scripts}"></div>

</body>

</html>