<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Common meta tags fragment -->
  <th:block th:fragment="meta">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <meta name="author" content="CodePixar">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" th:href="@{/img/fav.png}">
  </th:block>

  <!-- Common CSS fragment -->
<th:block th:fragment="common-css">
    <link rel="stylesheet" th:href="@{/css/linearicons.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css/nouislider.min.css}">
    <link rel="stylesheet" th:href="@{/css/ion.rangeSlider.css}">
    <link rel="stylesheet" th:href="@{/css/ion.rangeSlider.skinFlat.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</th:block>
</head>
</html>