<!-- File: fragments/product.html -->
<div th:fragment="product(
  id, imagePath, title, startDate, category, location, price, href1, href2)">
  <div class="single-product">

    <!-- optional gray, border: 1px solid #bdb8b8  -->
    <div class="product-details p-2"
         style="
         border: 1px solid #fbbf6d;
         border-radius: 0.5rem;
         margin: 0px;">

      <div class="d-flex justify-content-end align-items-center">
        <span th:text="${startDate}"
              style="
                color: rgb(121,132,178);
                font-weight: bold;"
        >startDate</span>
      </div>

<!--      <div class="d-flex justify-content-end align-items-center">-->
<!--        <span th:text="${startDate}"-->
<!--              style="-->
<!--                color: darkgray;-->
<!--                font-weight: bold;"-->
<!--        >startDate</span>-->
<!--      </div>-->

<!--      <div class="d-flex justify-content-end align-items-center">-->
<!--        <span th:text="${startDate}"-->
<!--              style="-->
<!--                color: black;-->
<!--                font-weight: normal;"-->
<!--        >startDate</span>-->
<!--      </div>-->

      <h6 class="rounded py-1 px-2"
          style="
            background: linear-gradient(to bottom right, #ea7a02 5%, #ffbf2a 75%);
            color: white;
            font-weight: normal;"
          th:text="${title}">title</h6>

<!--      <h6 class="rounded py-1 px-2"-->
<!--          style="-->
<!--            color: darkorange;-->
<!--            font-weight: bold;"-->
<!--          th:text="${title}">title</h6>-->

<!--      <h6 class="rounded py-1 px-2"-->
<!--          style="-->
<!--            color: black;-->
<!--            font-weight: normal;"-->
<!--          th:text="${title}">title</h6>-->

      <a th:href="@{'/moment/' + ${moment.id}}">
        <img class="img-fluid" th:src="${imagePath}" alt="product image" />
      </a>

<!--      <div class="d-flex justify-content-left align-items-center" style="margin: -12px 0 -3px 0">-->
<!--        <p class="btn btn-secondary small py-0 px-1"-->
<!--           style="background-color: rgb(119,142,219)" th:text="${category}">category</p>-->
<!--        <p class="ml-2 btn btn-secondary small py-0 px-1"-->
<!--           style="background-color:  rgb(119,142,219)"-->
<!--           th:text="${location}">location</p>-->
<!--      </div>-->

      <div class="d-flex justify-content-left align-items-center" style="margin: -12px 0 -3px 0">
        <p class="btn btn-secondary small py-0 px-1"
           style="background-color: rgb(121,132,178);cursor: default;"
           th:text="${category}">category</p>
        <p class="ml-2 btn btn-secondary small py-0 px-1"
           style="background-color:  rgb(121,132,178);
           cursor: default;"
           th:text="${location}">location</p>
      </div>

      <div class="d-flex justify-content-end align-items-center mb-1">
        <div class="price">
          <h6 class="font-weight-bold"
              style="
                color: orange;
                font-size: 1.12rem;"
              th:text="${price}">$0.00</h6>
        </div>
      </div>

      <form th:action="@{/carts/item}" th:method="get">
      <div class="d-flex justify-content-start align-items-center"
           style="margin: -10px 0 -3px 0">
        <div class="prd-bottom">
          <a class="social-info" onclick="this.closest('form').submit()">
              <input type="hidden" name="momentId" th:value="${id}" />
              <input type="hidden" name="quantity" value="1" />
                <span class="ti-bag"></span>
                <p class="hover-text">add to cart</p>
          </a>
          <a th:href="${href2}" class="social-info">
            <span class="lnr lnr-move"></span>
            <p class="hover-text">view more</p>
          </a>
        </div>
      </div>
      </form>

    </div>
  </div>
</div>
